/* Place CSS styles here */


h1, h2 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  color: #faebd7;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color:#faebd7
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 30px 16px;
  color: #0000ff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
}

.nav-links a:hover{
  background-color: #00ffff;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 34px;
}

.hamburger .bar {
  flex-basis: 100%;
  height: 4px;
  background-color: #8b0000;
  margin: 3px;
}

/*  Responsive design */

@media (max-width: 768px) {
  
  nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    height: 80px;
  }

  .nav-links {
    display: none;
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .nav-links li {
    flex-basis: 100%;
  }

  .nav-links a:hover {
    background-color:#8a2be2
  }
}

