/* Place CSS styles here

/* Logo color palette:
 Blue: 232c65
Yellow: d4ab43
Red: b32428 */

html {
    scroll-behavior: smooth;
}

/* start navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232c6537;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  background: #510e10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-right: 34px;
  padding-left: 24px;
  position: sticky;
  top: 0;
  background: #fff7e0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 5 rem;
  max-width: 1600px
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 60px
  
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: #510e10;
  padding: 3px 20px;
  font-size: 1.3rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: #232c65;
  background: #232c6534;
  border: 2px solid #232c65;
}

/* navbartoggle */

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #b32428;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar {
    backdrop-filter: blur(10px);
  }

  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px #000000;
    backdrop-filter: blur(10px);
    background-color: #fff7e0ba;
  }

  .navbar-container .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  /* hamburger */

.navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}}
/* end navbar */



/* hero */

h1, h2, h3 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff7e0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px #000000;
}

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(#510e1054, #510e1054), 
    url(../img/barphoto.jpg) no-repeat center / cover;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .info h1 {
  font-size: clamp(2.5rem, 7vw, 8rem);
  letter-spacing: 3px;
}

.container .info h2 {
  font-size: clamp(1.2rem, 3vw, 3rem);
  letter-spacing: 2px;
}

.container .info a {
  text-decoration: none;
  color:#fff7e0;
  display: inline-block;
  padding: 0.5em 2em;
  margin-top: 2rem
}

.container .info a:hover {
  color: #232c65;
  background: #232c65;
  border: 2px solid #161c42;
  text-decoration: none;
  color: #d4ab43;
  padding: 3px 20px;
  font-size: 1.3rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #hero {
    background-position: center top;
    min-height: 70vh;
  }
}

/* menu */

.menu {
  background: #510e10;
  background-color: #b32428;
  color: #fff7e0;
  width: 70%;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 8px 20px #00000080;
  text-align: center;
  border: 4px double #fff7e0;
  padding: 50px;
  border-radius: 15px
}

.menu h1{
  color: #d4ab43;
  text-decoration: underline;
}

.menu h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #283272;
}

.menu h3 {
  margin-top: 20px;
  color: #d4ab43;
}

.menu p {
  margin: 5px 0 15px 0;
}

@media (max-width: 768px) {
 .menu {
    width: 90%;
    max-width: 768px;
    padding: 20px;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 6px 15px #00000066;
  }
  .menu h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center;
  }


  .menu h3 {
    font-size: 1.1rem;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
  }

  .menu p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 12px;
    letter-spacing: 0.2px;
}}

/* end menu */

header {
  padding: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  max-width: 800%;
}

header h3 {
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 46px;
}

header p {
  color:#fff7e0;
  text-align: left;
}

@media (max-width: 768px) {
  header {
    padding: 40px 20px;
    text-align: center;
  }

  header h3 {
    font-size: 28px;
    text-align: center;
  }

  header p {
    text-align: center;
  }
}

.events {
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.event {
  border: 3px solid #fff7e0;
  border-radius: 20px;
  padding: 16px;
  background: #b32428;
  text-align: center;
  color:#fff7e0
}

.events h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.events img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
    .events {
        flex-direction: column;
        align-items: center;
    }

    .events img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
}
    
}




/* reservation form */
.submit-button {
    padding: 8px;
    border-radius: 12px;
    border: none;
    background: #fff7e0;
    color: #510e10;
    border: 1px solid #000000;
}

.submit-button:hover {
    background-color: #283272;
}

.submit-button:focus-visible {
    outline-color: #232c65;
    background:#161c42;
}

.reservation {
  background:#b32428;
  max-width: 800%;
  text-align: center;
  padding: 16px;
  color:#fff7e0; 
}

@media (max-width: 768px) {
  .reservations {
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
  }

}

/* footer */
.footer {
  background: #232c65;
  padding: 80px 13% 70px;
  display: flex;
  gap: 3.5rem;
  justify-content: flex-end;
  color: #fff7e0;
  cursor: pointer;
}

/* .footer-content {
  width: 100%;
} */

.footer-content a:hover {
  color: #232c65;
  background: #232c65;
  border: 2px solid #161c42;
  text-decoration: none;
  color: #d4ab43;
  padding: 3px 20px;
  font-size: 1.3rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.footer-content a {
  text-decoration: none;
  color:#fff7e0;
  display: inline-block;
  padding: 0.5em 2em;
  margin-top: 6px;
  margin-bottom: 6px;
} 

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    gap: 2rem;
  }

  .footer-content a {
    padding: 0.5em 1.5em;
    font-size: 1rem;
  }
}