/* Place CSS styles here */

/* Blue: 232c65
Yellow: d4ab43
Red: b32428 */

/* navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232c6537;
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  background: url(./absinthewoman[Converted].svg);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2 rem;
  max-width: 1600px
}

.logo {
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;

}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: black;
  padding: 3px 20px;
  font-size: 1.3rem;
  border-radius: 20px;
  
}

/* Fonts */
h1, h2 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* font */